<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Display All Milk Collectors</title>
</head>
<body>
<table>
    <thead>
    <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Mobile No</th>
        <th>Location</th>
<!--        <th>Rate Per Liter</th>-->
        <!-- Add more columns as needed -->
    </tr>
    </thead>
    <tbody>

    <!-- Iterate through the list of adminUsers -->
    <tr th:each="user : ${adminUsers}">

        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.mobileNo}"></td>
        <td th:text="${user.location}"></td>
<!--        <td th:utext="${user.ratePerLiter}"></td>-->
        <!-- Add more cells as needed -->
    </tr>
    </tbody>
</table>
</body>
</html>
